/* .sidebar{
    height: 100rem;
    text-align: center;
} */
.dropdown-style {
  width: 90%;
  border-radius: 0;
  margin: 1rem;
}
.buttontext {
}
.remove-margin {
  margin: 2px;
  margin-left: 5px;
}
.btn-headings {
  text-align: left;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-top: 13px;
}
.choice {
  display: flex;
  border-radius: 0;
  justify-content: space-between;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-top: 13px;
}
.btn-costum2{
  width: 12rem;
}
.btn-costum{
    width: 12rem;
}
.btn-costum2 {
  background-color: white;
  color: #0275d8;
  width: 12rem;
}

.btn-costum2:focus {
  background-color: white;
  color: #0275d8;
}

.btn-costum-clicked {
  background-color: #0275d8;
  color: white;
  width: 12rem;
}

.btn-costum-clicked:focus {
  background-color: #0275d8;
  color: white;
}



.dropdown-menu {
  position: absolute;
  height: 200px;
  overflow-y: scroll;
  width: 90%;
  left: 0;
  top: 100%;
  margin-top: 5px;
}

.dropdown-menu:hover {
  cursor: pointer;
}
.dropdown-menu li {
  text-align: left;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.dropdown-menu li:nth-child(even) {
  background-color: #f7f7f7;
}

.dropdown-menu li:nth-child(odd) {
  background-color: #ebebeb;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}
.time-input{
  text-align: left;
}
.static-li {

  position: sticky;

  top: 0;

  z-index: 1;

  background-color: #fff; /* Set the desired background color */

}

.selected{
  background-color: #0275d8 !important;
  color: white !important;
}

.w-100-scroll{
  width: 100%;
  overflow-x: auto;
  text-align: left;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}